<div class="container">
  <shared-header></shared-header>
  <div class="main-content">

    <div class="objective">
      <h1>Objective Function</h1>
      <div class="objective-grid">
        @for (var of iterableV; track $index) {
        <div class="flex-item">
          <app-input
            [label]="'x'+($index+1)"
            (entryChange)="getVariables(+$event, 0, $index)">
          </app-input>
          <div class="operator">
            @if ($index==(iterableV.length-1)) {
            <p>=</p>
            }@else{
            <p>+</p>
            }
          </div>
        </div>
        }
        <app-input
          label="rhs"
          (entryChange)="getRhs(+$event)">
        </app-input>
      </div>
    </div>


    <div class="restrictions">
      <h1>Restrictions</h1>
      @for (rest of iterableR; track $index) {
      <div class="restrictions-grid">

        @for (var of iterableV; let idx = $index; track idx) {
        <div class="flex-item">
          <app-input
            [label]="'x'+($index+1)"
            (entryChange)="getVariables(+$event, $index+1, idx)">
          </app-input>
          <div class="operator">
            @if (idx==(iterableV.length-1)) {
            <select id="eq"
            (change)="OnSelectChange($event, $index)">
            <option value="<="> <= </option>
              <option value=">="> >= </option>
              <option value="="> = </option>
            </select>
            }@else{
            <p>+</p>
            }
          </div>
        </div>
        }
        <app-input
          label="rhs"
          (entryChange)="getRhs(+$event)">
        </app-input>
      </div>
      }
    </div>


    <button
      type="text"
      (click)="solve()">
      Solve
    </button>
  </div>
</div>

<!-- </div>
      <div class="grid-container"
      [style.gridTemplateColumns]=gridColumnsStyle>
      @for (eachR of iterableR; track $index) {
        @for (eachC of iterableC; track $index) {
          <app-input [label]="'x'+($index+1).toString()"></app-input>
        }
        <select id="eq">
          <option value="value1"><=</option>
          <option value="value2">>=</option>
          <option value="value3">=</option>
        </select>
        <app-input label="rhs"></app-input>
      }
      </div> -->
