.container {
  height: 100vh;
  width: 100%;
  background-color: #fff3fb;
}

.main-content {
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  row-gap: 10px;
}

.obj {
  display: flex;
}

.inputs {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
