<table [style.border]="borderColor">
  <tr>
    <th class="indexes" [style.backgroundColor]="indexesBackgroundColor">i</th>
    <th scope="col" [style.backgroundColor]="backgroundColor">BVS</th>
    @if(horizontalHeaders){
      @for (hHeader of horizontalHeaders; track $index) {
        @if (hHeader == incoming) {
          <th  scope="col"[style.backgroundColor]="backgroundColor">{{hHeader}}</th>
        }@else{
          <th scope="col" [style.backgroundColor]="backgroundColor">{{hHeader}}</th>
        }
      }
    }
    <th [style.backgroundColor]="backgroundColor">RHS</th>
  </tr>
  @if(verticalHeaders){
    @for (vHeader of verticalHeaders; track $index) {
      <tr>
        <th scope="row" [style.backgroundColor]="indexesBackgroundColor">{{$index}}</th>
        @if (vHeader == outgoing){
          <th [style.backgroundColor]="backgroundColor">{{vHeader}}</th>
        }@else{
          <th [style.backgroundColor]="backgroundColor">{{vHeader}}</th>
        }
        @for (number of matrix[0]; track number; let idx = $index) {
          <td>{{matrix[$index][idx]}}</td>
        }
      </tr>
    }
  }
</table>

