<div class="container">
  <shared-header></shared-header>
  <div class="main-content">
    <div class="type">
      <label for="obj">Solving method</label>
      <select id="obj">
        <option value="value1">Simplex</option>
        <option value="value2">Great M</option>
      </select>
    </div>
    <div class="type">
      <label for="obj">Problem type</label>
      <select id="obj">
        <option value="value1">Max</option>
        <option value="value2">Min</option>
      </select>
    </div>
    <app-input label="variables"
      [(entry)]="varNumber">
    </app-input>
    <app-input label="restrictions"
      [(entry)]="restNumber">
    </app-input>
    <button type="text"
    (click)="goToDataEntry()">
      Next
    </button>
  </div>
</div>
