<div class="container">
  <shared-header></shared-header>
  <div class="main-content">
    <div class="type">
      <label for="obj">Solving method</label>
      <select id="obj"
      (change)="OnMethodChange($event)">
        <option value="0">Simplex</option>
        <option value="1">Big M</option>
      </select>
    </div>
    <div class="type">
      <label for="obj">Problem type</label>
      <select id="obj"
      (change)="OnTypeChange($event)">
        <option value="0">Max</option>
        <option value="1">Min</option>
      </select>
    </div>
    <app-input label="variables"
      [(entry)]="varNumber">
    </app-input>
    <app-input label="restrictions"
      [(entry)]="restNumber">
    </app-input>
    <button type="text"
    (click)="goToSpecification()">
      Next
    </button>
  </div>
</div>
